
header {
    background-color: var(--color-top-bg-nav);
}

.nav-container{
    height: 70px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.nav-container h1{
    color: var(--color-top-font-secundary);
}